<ion-app>
  <ion-menu side="start" menuId="m1">
<ion-header>
  <ion-toolbar>
    <ion-title>
           CoMP
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-menu-toggle menu="m1">
    <ion-item>
      <ion-icon name="business" slot="start"></ion-icon>
      <ion-label>Screening</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle menu="m1">
    <ion-item>
        <ion-icon name="contact" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
    </ion-menu-toggle>

      <ion-menu-toggle menu="m1">
      <ion-item  button>
          <ion-icon name="build" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>

          <ion-menu-toggle menu="m1">
          <ion-item>
              <ion-icon name="help-circle" slot="start"></ion-icon>
              <ion-label>Help</ion-label>
            </ion-item>
          </ion-menu-toggle>

            <ion-menu-toggle menu="m1">
            <ion-item>
                <ion-icon name="contacts" slot="start"></ion-icon>
                <ion-label>Contact Us</ion-label>
              </ion-item>
            </ion-menu-toggle>

            <ion-menu-toggle menu="m1">
              <ion-item (click)="Logout()" button>
                  <ion-icon name="exit" slot="start"></ion-icon>
                  <ion-label>Logout</ion-label>
                </ion-item>
              </ion-menu-toggle>

  </ion-list>
</ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
</ion-app>
